html, body, .container, .v-main, .v-main__wrap{
  margin: 0px;
  padding: 0px;
  overflow: hidden !important;
}

#app {
  overflow: hidden;
}

.container {
  padding: 10px;
  height: 100%;
}

.v-card, .col {
  height: 100%;
}

.editor {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}